/.codelite/compilation.db
/.codelite/modVer.tags
/.codelite/refactoring.db
/.codelite/valgrind.memcheck.supp
/Debug/.d
/Debug/main.cpp.o
/Debug/main.cpp.o.d
/Debug/modVer
/Debug/run.log
/Debug/src_common_Log.cpp.o
/Debug/src_common_Log.cpp.o.d
/Debug/src_frontend_boogie_coco_Parser.cpp.o
/Debug/src_frontend_boogie_coco_Parser.cpp.o.d
/Debug/src_frontend_boogie_coco_Scanner.cpp.o
/Debug/src_frontend_boogie_coco_Scanner.cpp.o.d
/Debug/src_frontend_boogie_manual_Parser.cpp.o
/Debug/src_frontend_boogie_manual_Parser.cpp.o.d
/Debug/src_frontend_parser_ParserBase.cpp.o
/Debug/src_frontend_parser_ParserBase.cpp.o.d
/Debug/src_frontend_parser_TextPos.cpp.o
/Debug/src_frontend_parser_TextPos.cpp.o.d
/Debug/src_frontend_parser_Tokenizer.cpp.o
/Debug/src_frontend_parser_Tokenizer.cpp.o.d
